:root {
    --spacing-01: 4px;
    --spacing-02: 8px;
    --spacing-03: 16px;
    --spacing-04: 24px;
    --spacing-05: 32px;
    --spacing-06: 40px;
    --spacing-07: 48px;
    --spacing-08: 56px;
    --text-01: 10px;
    --text-02: 14px;
    --text-03: 16px;
    --text-04: 24px;
    --text-05: 30px;
    --border-radius-01: 16px;
    --border-radius-02: 24px;
    --border-radius-03: 100px;
    --border-radius-card: 34px;
    --accent-1: #4C00C2;
    --accent-2: #1a023d;
    --accent-3: #3B058E;
    --ui-01: #E5E5E5;
    --ui-02: #FFFFFF;
    --ui-03: #D3D8E1;
    --ui-04: #798291;
    --ui-05: #444E5D;
    --text-primary: #1A212C;
    --accent-positive: #19AC51;
    --accent-negative: #FC484C;
    --font-size-card-name: 40px;
    --font-size-card-holder: 38px;
    --font-size-card-number: 48px;
    --font-size-button: 50px;
    --font-size-label: 40px;
    --font-size-input: 50px;
    --font-size-h1: 60px;
    --font-weight-card: 700;
    --button-width: 74%;
    --button-height: 78px;
    --dialog-width: 100vw;
    --card-width: 700px;
    --card-height: 360px;
    --card-top: 130px;
  }
