:root {
  --mul-interactive-01: #0f62fe;
  --mul-interactive-02: #393939;
  --mul-interactive-03: #0f62fe;
  --mul-interactive-04: #0f62fe;
  --mul-ui-background: #fff;
  --mul-ui-01: #f4f4f4;
  --mul-ui-02: #fff;
  --mul-ui-03: #e0e0e0;
  --mul-ui-04: #8d8d8d;
  --mul-ui-05: #161616;
  --mul-text-01: #161616;
  --mul-text-02: #525252;
  --mul-text-03: #a8a8a8;
  --mul-text-04: #fff;
  --mul-text-05: #6f6f6f;
  --mul-text-error: #da1e28;
  --mul-icon-01: #161616;
  --mul-icon-02: #525252;
  --mul-icon-03: #fff;
  --mul-link-01: #0f62fe;
  --mul-link-02: #0043ce;
  --mul-inverse-link: #78a9ff;
  --mul-field-01: #f4f4f4;
  --mul-field-02: #fff;
  --mul-inverse-01: #fff;
  --mul-inverse-02: #393939;
  --mul-support-01: #da1e28;
  --mul-support-02: #198038;
  --mul-support-03: #f1c21b;
  --mul-support-04: #0043ce;
  --mul-inverse-support-01: #fa4d56;
  --mul-inverse-support-02: #42be65;
  --mul-inverse-support-03: #f1c21b;
  --mul-inverse-support-04: #4589ff;
  --mul-overlay-01: rgba(22,22,22,0.5);
  --mul-danger-01: #da1e28;
  --mul-danger-02: #da1e28;
  --mul-focus: #0f62fe;
  --mul-inverse-focus-ui: #fff;
  --mul-hover-primary: #0353e9;
  --mul-active-primary: #002d9c;
  --mul-hover-primary-text: #0043ce;
  --mul-hover-secondary: #4c4c4c;
  --mul-active-secondary: #6f6f6f;
  --mul-hover-tertiary: #0353e9;
  --mul-active-tertiary: #002d9c;
  --mul-hover-ui: #e5e5e5;
  --mul-hover-light-ui: #e5e5e5;
  --mul-hover-selected-ui: #cacaca;
  --mul-active-ui: #c6c6c6;
  --mul-active-light-ui: #c6c6c6;
  --mul-selected-ui: #e0e0e0;
  --mul-selected-light-ui: #e0e0e0;
  --mul-inverse-hover-ui: #4c4c4c;
  --mul-hover-danger: #b81921;
  --mul-active-danger: #750e13;
  --mul-hover-row: #e5e5e5;
  --mul-visited-link: #8a3ffc;
  --mul-disabled-01: #f4f4f4;
  --mul-disabled-02: #c6c6c6;
  --mul-disabled-03: #8d8d8d;
  --mul-highlight: #d0e2ff;
  --mul-decorative-01: #e0e0e0;
  --mul-button-separator: #e0e0e0;
  --mul-skeleton-01: #e5e5e5;
  --mul-skeleton-02: #c6c6c6;
  --mul-background: #fff;
  --mul-layer: #f4f4f4;
  --mul-layer-accent: #e0e0e0;
  --mul-layer-accent-hover: #d1d1d1;
  --mul-layer-accent-active: #a8a8a8;
  --mul-field: #f4f4f4;
  --mul-background-inverse: #393939;
  --mul-background-brand: #0f62fe;
  --mul-interactive: #0f62fe;
  --mul-border-subtle: #e0e0e0;
  --mul-border-strong: #8d8d8d;
  --mul-border-inverse: #161616;
  --mul-border-interactive: #0f62fe;
  --mul-text-primary: #161616;
  --mul-text-secondary: #525252;
  --mul-text-placeholder: #a8a8a8;
  --mul-text-helper: #6f6f6f;
  --mul-text-on-color: #fff;
  --mul-text-inverse: #fff;
  --mul-link-primary: #0f62fe;
  --mul-link-secondary: #0043ce;
  --mul-link-visited: #8a3ffc;
  --mul-link-inverse: #78a9ff;
  --mul-icon-primary: #161616;
  --mul-icon-secondary: #525252;
  --mul-icon-on-color: #fff;
  --mul-icon-inverse: #fff;
  --mul-support-error: #da1e28;
  --mul-support-success: #198038;
  --mul-support-warning: #f1c21b;
  --mul-support-info: #0043ce;
  --mul-support-error-inverse: #fa4d56;
  --mul-support-success-inverse: #42be65;
  --mul-support-warning-inverse: #f1c21b;
  --mul-support-info-inverse: #4589ff;
  --mul-overlay: rgba(22,22,22,0.5);
  --mul-toggle-off: #8d8d8d;
  --mul-button-primary: #0f62fe;
  --mul-button-secondary: #393939;
  --mul-button-tertiary: #0f62fe;
  --mul-button-danger-primary: #da1e28;
  --mul-button-danger-secondary: #da1e28;
  --mul-background-active: #c6c6c6;
  --mul-layer-active: #c6c6c6;
  --mul-button-danger-active: #750e13;
  --mul-button-primary-active: #002d9c;
  --mul-button-secondary-active: #6f6f6f;
  --mul-button-tertiary-active: #002d9c;
  --mul-focus-inset: #fff;
  --mul-focus-inverse: #fff;
  --mul-background-hover: #e5e5e5;
  --mul-layer-hover: #e5e5e5;
  --mul-field-hover: #e5e5e5;
  --mul-background-inverse-hover: #4c4c4c;
  --mul-link-primary-hover: #0043ce;
  --mul-button-danger-hover: #b81921;
  --mul-button-primary-hover: #0353e9;
  --mul-button-secondary-hover: #4c4c4c;
  --mul-button-tertiary-hover: #0353e9;
  --mul-background-selected: #e0e0e0;
  --mul-background-selected-hover: #cacaca;
  --mul-layer-selected: #e0e0e0;
  --mul-layer-selected-hover: #cacaca;
  --mul-layer-selected-inverse: #161616;
  --mul-border-subtle-selected: #c6c6c6;
  --mul-layer-disabled: #f4f4f4;
  --mul-field-disabled: #f4f4f4;
  --mul-border-disabled: #f4f4f4;
  --mul-text-disabled: #c6c6c6;
  --mul-button-disabled: #c6c6c6;
  --mul-icon-disabled: #c6c6c6;
  --mul-text-on-color-disabled: #8d8d8d;
  --mul-icon-on-color-disabled: #8d8d8d;
  --mul-layer-selected-disabled: #8d8d8d;
  --mul-skeleton-background: #e5e5e5;
  --mul-skeleton-element: #c6c6c6;
  --mul-brand-01: #0f62fe;
  --mul-brand-02: #393939;
  --mul-brand-03: #0f62fe;
  --mul-active-01: #c6c6c6;
  --mul-hover-field: #e5e5e5;
  --mul-danger: #da1e28;
  --mul-caption-01-font-size: .75rem;
  --mul-caption-01-font-weight: 400;
  --mul-caption-01-line-height: 1.34;
  --mul-caption-01-letter-spacing: .32px;
  --mul-caption-02-font-size: .875rem;
  --mul-caption-02-font-weight: 400;
  --mul-caption-02-line-height: 1.29;
  --mul-caption-02-letter-spacing: .32px;
  --mul-label-01-font-size: .75rem;
  --mul-label-01-font-weight: 400;
  --mul-label-01-line-height: 1.34;
  --mul-label-01-letter-spacing: .32px;
  --mul-label-02-font-size: .875rem;
  --mul-label-02-font-weight: 400;
  --mul-label-02-line-height: 1.29;
  --mul-label-02-letter-spacing: .32px;
  --mul-helper-text-01-font-size: .75rem;
  --mul-helper-text-01-line-height: 1.34;
  --mul-helper-text-01-letter-spacing: .32px;
  --mul-helper-text-02-font-size: .875rem;
  --mul-helper-text-02-line-height: 1.29;
  --mul-helper-text-02-letter-spacing: .32px;
  --mul-body-short-01-font-size: .875rem;
  --mul-body-short-01-font-weight: 400;
  --mul-body-short-01-line-height: 1.29;
  --mul-body-short-01-letter-spacing: .16px;
  --mul-body-long-01-font-size: .875rem;
  --mul-body-long-01-font-weight: 400;
  --mul-body-long-01-line-height: 1.43;
  --mul-body-long-01-letter-spacing: .16px;
  --mul-body-short-02-font-size: 1rem;
  --mul-body-short-02-font-weight: 400;
  --mul-body-short-02-line-height: 1.375;
  --mul-body-short-02-letter-spacing: 0;
  --mul-body-long-02-font-size: 1rem;
  --mul-body-long-02-font-weight: 400;
  --mul-body-long-02-line-height: 1.5;
  --mul-body-long-02-letter-spacing: 0;
  --mul-code-01-font-family: "IBM Plex Mono","Menlo","DejaVu Sans Mono","Bitstream Vera Sans Mono",Courier,monospace;
  --mul-code-01-font-size: .75rem;
  --mul-code-01-font-weight: 400;
  --mul-code-01-line-height: 1.34;
  --mul-code-01-letter-spacing: .32px;
  --mul-code-02-font-family: "IBM Plex Mono","Menlo","DejaVu Sans Mono","Bitstream Vera Sans Mono",Courier,monospace;
  --mul-code-02-font-size: .875rem;
  --mul-code-02-font-weight: 400;
  --mul-code-02-line-height: 1.43;
  --mul-code-02-letter-spacing: .32px;
  --mul-heading-01-font-size: .875rem;
  --mul-heading-01-font-weight: 600;
  --mul-heading-01-line-height: 1.29;
  --mul-heading-01-letter-spacing: .16px;
  --mul-productive-heading-01-font-size: .875rem;
  --mul-productive-heading-01-font-weight: 600;
  --mul-productive-heading-01-line-height: 1.29;
  --mul-productive-heading-01-letter-spacing: .16px;
  --mul-heading-02-font-size: 1rem;
  --mul-heading-02-font-weight: 600;
  --mul-heading-02-line-height: 1.375;
  --mul-heading-02-letter-spacing: 0;
  --mul-productive-heading-02-font-size: 1rem;
  --mul-productive-heading-02-font-weight: 600;
  --mul-productive-heading-02-line-height: 1.375;
  --mul-productive-heading-02-letter-spacing: 0;
  --mul-productive-heading-03-font-size: 1.25rem;
  --mul-productive-heading-03-font-weight: 400;
  --mul-productive-heading-03-line-height: 1.4;
  --mul-productive-heading-03-letter-spacing: 0;
  --mul-productive-heading-04-font-size: 1.75rem;
  --mul-productive-heading-04-font-weight: 400;
  --mul-productive-heading-04-line-height: 1.29;
  --mul-productive-heading-04-letter-spacing: 0;
  --mul-productive-heading-05-font-size: 2rem;
  --mul-productive-heading-05-font-weight: 400;
  --mul-productive-heading-05-line-height: 1.25;
  --mul-productive-heading-05-letter-spacing: 0;
  --mul-productive-heading-06-font-size: 2.625rem;
  --mul-productive-heading-06-font-weight: 300;
  --mul-productive-heading-06-line-height: 1.199;
  --mul-productive-heading-06-letter-spacing: 0;
  --mul-productive-heading-07-font-size: 3.375rem;
  --mul-productive-heading-07-font-weight: 300;
  --mul-productive-heading-07-line-height: 1.19;
  --mul-productive-heading-07-letter-spacing: 0;
  --mul-expressive-heading-01-font-size: .875rem;
  --mul-expressive-heading-01-font-weight: 600;
  --mul-expressive-heading-01-line-height: 1.25;
  --mul-expressive-heading-01-letter-spacing: .16px;
  --mul-expressive-heading-02-font-size: 1rem;
  --mul-expressive-heading-02-font-weight: 600;
  --mul-expressive-heading-02-line-height: 1.5;
  --mul-expressive-heading-02-letter-spacing: 0;
  --mul-expressive-heading-03-font-size: 1.25rem;
  --mul-expressive-heading-03-font-weight: 400;
  --mul-expressive-heading-03-line-height: 1.4;
  --mul-expressive-heading-03-letter-spacing: 0;
  --mul-expressive-heading-04-font-size: 1.75rem;
  --mul-expressive-heading-04-font-weight: 400;
  --mul-expressive-heading-04-line-height: 1.29;
  --mul-expressive-heading-04-letter-spacing: 0;
  --mul-expressive-heading-05-font-size: 2rem;
  --mul-expressive-heading-05-font-weight: 400;
  --mul-expressive-heading-05-line-height: 1.25;
  --mul-expressive-heading-05-letter-spacing: 0;
  --mul-expressive-heading-06-font-size: 2rem;
  --mul-expressive-heading-06-font-weight: 600;
  --mul-expressive-heading-06-line-height: 1.25;
  --mul-expressive-heading-06-letter-spacing: 0;
  --mul-expressive-paragraph-01-font-size: 1.5rem;
  --mul-expressive-paragraph-01-font-weight: 300;
  --mul-expressive-paragraph-01-line-height: 1.334;
  --mul-expressive-paragraph-01-letter-spacing: 0;
  --mul-quotation-01-font-size: 1.25rem;
  --mul-quotation-01-font-weight: 400;
  --mul-quotation-01-line-height: 1.3;
  --mul-quotation-01-letter-spacing: 0;
  --mul-quotation-02-font-size: 2rem;
  --mul-quotation-02-font-weight: 300;
  --mul-quotation-02-line-height: 1.25;
  --mul-quotation-02-letter-spacing: 0;
  --mul-display-01-font-size: 2.625rem;
  --mul-display-01-font-weight: 300;
  --mul-display-01-line-height: 1.19;
  --mul-display-01-letter-spacing: 0;
  --mul-display-02-font-size: 2.625rem;
  --mul-display-02-font-weight: 600;
  --mul-display-02-line-height: 1.19;
  --mul-display-02-letter-spacing: 0;
  --mul-display-03-font-size: 2.625rem;
  --mul-display-03-font-weight: 300;
  --mul-display-03-line-height: 1.19;
  --mul-display-03-letter-spacing: 0;
  --mul-display-04-font-size: 2.625rem;
  --mul-display-04-font-weight: 600;
  --mul-display-04-line-height: 1.19;
  --mul-display-04-letter-spacing: 0;
  --mul-spacing-01: .125rem;
  --mul-spacing-02: .25rem;
  --mul-spacing-03: .5rem;
  --mul-spacing-04: .75rem;
  --mul-spacing-05: 1rem;
  --mul-spacing-06: 1.5rem;
  --mul-spacing-07: 2rem;
  --mul-spacing-08: 2.5rem;
  --mul-spacing-09: 3rem;
  --mul-spacing-10: 4rem;
  --mul-spacing-11: 5rem;
  --mul-spacing-12: 6rem;
  --mul-spacing-13: 10rem;
  --mul-fluid-spacing-01: 0;
  --mul-fluid-spacing-02: 2vw;
  --mul-fluid-spacing-03: 5vw;
  --mul-fluid-spacing-04: 10vw;
  --mul-layout-01: 1rem;
  --mul-layout-02: 1.5rem;
  --mul-layout-03: 2rem;
  --mul-layout-04: 3rem;
  --mul-layout-05: 4rem;
  --mul-layout-06: 6rem;
  --mul-layout-07: 10rem;
  --mul-container-01: 1.5rem;
  --mul-container-02: 2rem;
  --mul-container-03: 2.5rem;
  --mul-container-04: 3rem;
  --mul-container-05: 4rem;
  --mul-size-xsmall: 1.5rem;
  --mul-size-small: 2rem;
  --mul-size-medium: 2.5rem;
  --mul-size-large: 3rem;
  --mul-size-xlarge: 4rem;
  --mul-size-2XLarge: 5rem;
  --mul-icon-size-01: 1rem;
  --mul-icon-size-02: 1.25rem;
  --mul-tag-background-red: #ffd7d9;
  --mul-tag-color-red: #750e13;
  --mul-tag-hover-red: #ffb3b8;
  --mul-tag-background-magenta: #ffd6e8;
  --mul-tag-color-magenta: #740937;
  --mul-tag-hover-magenta: #ffafd2;
  --mul-tag-background-purple: #e8daff;
  --mul-tag-color-purple: #491d8b;
  --mul-tag-hover-purple: #d4bbff;
  --mul-tag-background-blue: #d0e2ff;
  --mul-tag-color-blue: #002d9c;
  --mul-tag-hover-blue: #a6c8ff;
  --mul-tag-background-cyan: #bae6ff;
  --mul-tag-color-cyan: #003a6d;
  --mul-tag-hover-cyan: #82cfff;
  --mul-tag-background-teal: #9ef0f0;
  --mul-tag-color-teal: #004144;
  --mul-tag-hover-teal: #3ddbd9;
  --mul-tag-background-green: #a7f0ba;
  --mul-tag-color-green: #044317;
  --mul-tag-hover-green: #6fdc8c;
  --mul-tag-background-gray: #e0e0e0;
  --mul-tag-color-gray: #393939;
  --mul-tag-hover-gray: #c6c6c6;
  --mul-tag-background-cool-gray: #dde1e6;
  --mul-tag-color-cool-gray: #343a3f;
  --mul-tag-hover-cool-gray: #c1c7cd;
  --mul-tag-background-warm-gray: #e5e0df;
  --mul-tag-color-warm-gray: #3c3838;
  --mul-tag-hover-warm-gray: #cac5c4;
  --mul-notification-background-error: #fff1f1;
  --mul-notification-background-success: #defbe6;
  --mul-notification-background-info: #edf5ff;
  --mul-notification-background-warning: #fdf6dd;
  --mul-notification-action-hover: #fff;
}
